services:
  api:
    build: .
    ports:
    - 3000:3000
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: temp
    ports:
      - 5432:5432
    volumes:
      - db-data:/data

volumes:
  db-data: